repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: pytest
        name: Run pytest
        language: system
        types: [python]
        entry: uv run pytest
        pass_filenames: false
        args:
          - "--strict-config"
          - "--rootdir=."
          - "-c=pytest.ini"
          - "tests"
